.footer-section {
    background: rgba(19, 19, 24, 0.05);
    padding: 2rem 0;
}

.logo {
    margin: 2rem auto;

}

p {
    text-align: center;
}

.social {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}

.social i {
    height: 44px;
    font-size: 24px;
}

.footer-section hr {
    margin: 2rem 0;
}