.tour-section {
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;     */
}

.text-content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
}
.text-content h3 {
    color: black;
    font-size: 2rem;
    font-weight: 800;
    text-align: left;

}

.text-content ul > li, p {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    word-spacing: 5px;
    /* letter-spacing: 1px; */

}